In [1]:
!pip install naive-bayes

Requirement already satisfied: naive-bayes in c:\users\samad\anaconda3\lib\site-packages (0.1.1)
Requirement already satisfied: scikit-learn>=0.15.2 in c:\users\samad\anaconda3\lib\site-packages (from naive-bayes) (1.3.0)
Requirement already satisfied: numpy>=1.9.0 in c:\users\samad\anaconda3\lib\site-packages (from naive-bayes) (1.24.3)
Requirement already satisfied: scipy>=1.5.0 in c:\users\samad\anaconda3\lib\site-packages (from scikit-learn>=0.15.2->naive-bayes) (1.10.1)
Requirement already satisfied: joblib>=1.1.1 in c:\users\samad\anaconda3\lib\site-packages (from scikit-learn>=0.15.2->naive-bayes) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\samad\anaconda3\lib\site-packages (from scikit-learn>=0.15.2->naive-bayes) (2.2.0)

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.naive_bayes import MultinomialNB as MB
from sklearn.naive_bayes import GaussianNB as GB

In [3]:
train = pd.read_csv('SalaryData_Train.csv')
train

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30156,27,Private,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
30157,40,Private,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
30158,58,Private,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
30159,22,Private,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
30160,52,Self-emp-inc,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [4]:
test = pd.read_csv('SalaryData_Test.csv')
test

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,25,Private,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,34,Private,10th,6,Never-married,Other-service,Not-in-family,White,Male,0,0,30,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15055,33,Private,Bachelors,13,Never-married,Prof-specialty,Own-child,White,Male,0,0,40,United-States,<=50K
15056,39,Private,Bachelors,13,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,36,United-States,<=50K
15057,38,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,<=50K
15058,44,Private,Bachelors,13,Divorced,Adm-clerical,Own-child,Asian-Pac-Islander,Male,5455,0,40,United-States,<=50K
15059,35,Self-emp-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States,>50K

In [5]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30161 entries, 0 to 30160
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   age            30161 non-null  int64
 1   workclass      30161 non-null  object
 2   education      30161 non-null  object
 3   educationno    30161 non-null  int64
 4   maritalstatus  30161 non-null  object
 5   occupation     30161 non-null  object
 6   relationship   30161 non-null  object
 7   race           30161 non-null  object
 8   sex            30161 non-null  object
 9   capitalgain    30161 non-null  int64
 10  capitalloss    30161 non-null  int64
 11  hoursperweek   30161 non-null  int64
 12  native         30161 non-null  object
 13  Salary         30161 non-null  object
dtypes: int64(5), object(9)
memory usage: 3.2+ MB

In [6]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15060 entries, 0 to 15059
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   age            15060 non-null  int64
 1   workclass      15060 non-null  object
 2   education      15060 non-null  object
 3   educationno    15060 non-null  int64
 4   maritalstatus  15060 non-null  object
 5   occupation     15060 non-null  object
 6   relationship   15060 non-null  object
 7   race           15060 non-null  object
 8   sex            15060 non-null  object
 9   capitalgain    15060 non-null  int64
 10  capitalloss    15060 non-null  int64
 11  hoursperweek   15060 non-null  int64
 12  native         15060 non-null  object
 13  Salary         15060 non-null  object
dtypes: int64(5), object(9)
memory usage: 1.6+ MB

In [7]:
train[['workclass','education','maritalstatus','occupation','relationship','race','sex','native','Salary']] = train[['workclass','education','maritalstatus','occupation','relationship','race','sex','native','Salary']].apply(lambda x: pd.factorize(x)[0])
train

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,39,0,0,13,0,0,0,0,0,2174,0,40,0,0
1,50,1,0,13,1,1,1,0,0,0,0,13,0,0
2,38,2,1,9,2,2,0,0,0,0,0,40,0,0
3,53,2,2,7,1,2,1,1,0,0,0,40,0,0
4,28,2,0,13,1,3,2,1,1,0,0,40,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30156,27,2,6,12,1,9,2,0,1,0,0,38,0,0
30157,40,2,1,9,1,8,1,0,0,0,0,40,0,1
30158,58,2,1,9,6,0,4,0,1,0,0,40,0,0
30159,22,2,1,9,0,0,3,0,0,0,0,20,0,0
30160,52,5,1,9,1,1,2,0,1,15024,0,40,0,1

In [8]:
test[['workclass','education','maritalstatus','occupation','relationship','race','sex','native','Salary']] = test[['workclass','education','maritalstatus','occupation','relationship','race','sex','native','Salary']].apply(lambda x: pd.factorize(x)[0])
test

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,25,0,0,7,0,0,0,0,0,0,0,40,0,0
1,38,0,1,9,1,1,1,1,0,0,0,50,0,0
2,28,1,2,12,1,2,1,1,0,0,0,40,0,1
3,44,0,3,10,1,0,1,0,0,7688,0,40,0,1
4,34,0,4,6,0,3,2,1,0,0,0,30,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15055,33,0,7,13,0,4,0,1,0,0,0,40,0,0
15056,39,0,7,13,4,4,2,1,1,0,0,36,0,0
15057,38,0,7,13,1,4,1,1,0,0,0,50,0,0
15058,44,0,7,13,4,6,0,4,0,5455,0,40,0,0
15059,35,5,7,13,1,7,1,1,0,0,0,60,0,1

In [9]:
#Splitting the data into Training & Testing

x_train = train.iloc[ : , 0 : 13]
y_train = train.iloc[ : , -1]
x_test = test.iloc[ : , 0 : 13]
y_test = test.iloc[ : , -1]

In [10]:
#Multinomial

from sklearn.naive_bayes import MultinomialNB
clf = MultinomialNB() #initializing or starting the function

In [11]:
#fitting the model

clf.fit(x_train,y_train)

MultinomialNB()

In [12]:
#Prediction

y_pred = clf.predict(x_test)
y_pred

array([0, 0, 0, ..., 0, 1, 0], dtype=int64)

In [13]:
#Checking Accuracy

from sklearn.metrics import classification_report

print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.79      0.96      0.87     11360
           1       0.62      0.21      0.32      3700

    accuracy                           0.77     15060
   macro avg       0.71      0.58      0.59     15060
weighted avg       0.75      0.77      0.73     15060

In [14]:
#Gaussian

from sklearn.naive_bayes import GaussianNB as GB
classifier_gb = GB()

In [15]:
classifier_gb.fit(x_train,y_train)

GaussianNB()

In [16]:
#Prediction

y_pred1 = classifier_gb.predict(x_test)
y_pred1

array([0, 0, 0, ..., 0, 0, 1], dtype=int64)

In [17]:
#Checking Accuracy

print(classification_report(y_test,y_pred1))

              precision    recall  f1-score   support

           0       0.81      0.95      0.88     11360
           1       0.67      0.33      0.44      3700

    accuracy                           0.80     15060
   macro avg       0.74      0.64      0.66     15060
weighted avg       0.78      0.80      0.77     15060